# Description of dataset

In [10]:
import pandas as pd
import os

In [17]:
os.listdir('.')

['lab_1_dataset_description.ipynb',
 'tensorflow.png',
 'Neural_Networks_0-1-2020.pptx',
 '.ipynb_checkpoints',
 'conda_version.png',
 'jupyter.png',
 'Lab1 Preliminaries.docx',
 'README.md',
 '.~lock.Neural_Networks_0-1-2020.pptx#',
 '2709_38454_bundle_archive']

In [6]:
melbourne_file_path = './melb_data.csv'

In [26]:
melbourne_data = pd.read_csv(melbourne_file_path)

## Column's desciption:
- `Suburb` - name of the street **will not be used**
- `Adress` - houses location
- `Rooms` - number of rooms in a house **will be used**
- `Type` -  br - bedroom(s); h - house,cottage,villa, semi,terrace; u - unit, duplex; t - townhouse; dev site - development site; o res - other residential. **will be used**
- `Price` - output column for prediction (price of a house) **will be used**
- `Method` - S - property sold; SP - property sold prior; PI - property passed in; PN - sold prior not disclosed; SN - sold not disclosed; NB - no bid; VB - vendor bid; W - withdrawn prior to auction; SA - sold after auction; SS - sold after auction price not disclosed. N/A - price or highest bid not available. **will be used**
- `SellerG` - name of Real Estate Agent **will not be used**
- `Date` - Date sold **will be used**
- `Distance` - Distance from CBD (Melbourne city centre) **will be used**
- `Postcode` - postcode of a house same as suburb **will be used**
- `Bedroom2` -  number of bedrooms **will  be used**
- `Bathroom` - amount of bathrooms **will be used**
- `Car` - Number of carspots **will be used**
- `Landsize` -  Land Size **will be used**
- `BuildingArea` - Building Size  **will be used**
- `YearBuilt` - year of a build **will be used**
- `CouncilArea` -  Governing council for the area **will be used**
- `Lattitude` - latitude of a house **will not be used**
- `Longtitude` - longtitude of a house **will not be used**
- `Regionname` - name of houses region **will be used**
- `Propertycount` -   Number of properties that exist in the suburb. **will be used**

### all strings will be changed at the numbers (for example: `method` column: S - 1, SP - 2 and etc )

In [25]:
melbourne_data.columns

Index(['Suburb', 'Address', 'Rooms', 'Type', 'Price', 'Method', 'SellerG',
       'Date', 'Distance', 'Postcode', 'Bedroom2', 'Bathroom', 'Car',
       'Landsize', 'BuildingArea', 'YearBuilt', 'CouncilArea', 'Lattitude',
       'Longtitude', 'Regionname', 'Propertycount'],
      dtype='object')

In [19]:
melbourne_data.describe()

,Rooms,Price,Distance,Postcode,Bedroom2,Bathroom,Car,Landsize,BuildingArea,YearBuilt,Lattitude,Longtitude,Propertycount
count,13580.000000,1.358000e+04,13580.000000,13580.000000,13580.000000,13580.000000,13518.000000,13580.000000,7130.000000,8205.000000,13580.000000,13580.000000,13580.000000
mean,2.937997,1.075684e+06,10.137776,3105.301915,2.914728,1.534242,1.610075,558.416127,151.967650,1964.684217,-37.809203,144.995216,7454.417378
std,0.955748,6.393107e+05,5.868725,90.676964,0.965921,0.691712,0.962634,3990.669241,541.014538,37.273762,0.079260,0.103916,4378.581772
min,1.000000,8.500000e+04,0.000000,3000.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1196.000000,-38.182550,144.431810,249.000000
25%,2.000000,6.500000e+05,6.100000,3044.000000,2.000000,1.000000,1.000000,177.000000,93.000000,1940.000000,-37.856822,144.929600,4380.000000
50%,3.000000,9.030000e+05,9.200000,3084.000000,3.000000,1.000000,2.000000,440.000000,126.000000,1970.000000,-37.802355,145.000100,6555.000000
75%,3.000000,1.330000e+06,13.000000,3148.000000,3.000000,2.000000,2.000000,651.000000,174.000000,1999.000000,-37.756400,145.058305,10331.000000
max,10.000000,9.000000e+06,48.100000,3977.000000,20.000000,8.000000,10.000000,433014.000000,44515.000000,2018.000000,-37.408530,145.526350,21650.000000

### Second step is split the dataset to training set and validation set 80/20 percentages